.header {
  max-width: 880px;
  margin: 45px auto 0 auto;
  padding: 0;
  position: relative;
  border-bottom: 1px solid rgba(54, 54, 54, .7);
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: 80%;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .header {
    max-width: 320px;
    margin-top: 28px;
  }
}
